<canvas id="salesChart"></canvas>

<script>
  (() => {
    const ctx = document.getElementById("salesChart").getContext("2d");
    salesChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: {{ sales_chart_labels|safe }},
        datasets: [
          {
            label: "売上",
            data: {{ sales_chart_sales_data|safe }},
            borderWidth: 2
          },
          {
            label: "利益",
            data: {{ sales_chart_profit_data|safe }},
            type: "line",
            borderColor: 'rgba(255, 99, 132, 1)',
            fill: false
          }
        ]
      },
      options: {
        responsive: true
      }
    });
  })();
</script>