<table id="balance-table" class="table table-striped">
  <thead>
    <tr>
      <th>資産</th>
      <th>金額</th>
      <th>負債及び純資産</th>
      <th>金額</th>
    </tr>
  </thead>
  <tbody>
    {% for debit, credit in paired_columns %}
    <tr>
      <td>{% if debit %}{{ debit.name }}{% endif %}</td>
      <td>{% if debit %}{{ debit.total }}{% endif %}</td>
      <td>{% if credit %}{{ credit.name }}{% endif %}</td>
      <td>{% if credit %}{{ credit.total }}{% endif %}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>{% if debfb %}繰越欠損金{% endif %}</td>
      <td>{% if debfb %}{{ debfb }}{% endif %}</td>
      <td>{% if rebf %}繰越利益剰余金{% endif %}</td>
      <td>{% if rebf %}{{ rebf }}{% endif %}</td>
    </tr>
    <tr>
      <td><strong>合計</strong></td>
      <td><strong>{% if debfb %}{{ total_debits|add:debfb }}{% else %}{{ total_debits }}{% endif %}</strong></td>
      <td><strong>合計</strong></td>
      <td><strong>{% if rebf %}{{ total_credits|add:rebf }}{% else %}{{ total_credits }}{% endif %}</strong></td>
    </tr>
  </tbody>
</table>