{% extends "base.html" %}

{% block main %}

<head>
  <meta charset="utf-8">
  <title>損益計算書</title>
  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
</head>

<h2>損益計算書</h2>
<form action="{% url 'profit_and_loss_by_year' %}" method="get">
  <label for="year">年：</label>
  <input type="number" name="year" value="2025" hx-get="{% url 'profit_and_loss_by_year' %}?format=html" hx-trigger="load, change"
  hx-target="#profit-and-loss-table" hx-include="this"
  />
  <input type="hidden" name="format" value="xlsx" />
  <button type="submit">エクスポート</button>
</form>

<table id="profit-and-loss-table" class="table table-striped">
  <thead>
    <tr>
      <th>費用</th>
      <th>金額</th>
      <th>収益</th>
      <th>金額</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
{% endblock %}