<table id="balance-table" class="table table-striped">
  <thead>
    <tr>
      <th>資産</th>
      <th>金額</th>
      <th>負債及び純資産</th>
      <th>金額</th>
    </tr>
  </thead>
  <tbody>
    {% for debit, credit in paired_columns %}
    <tr>
      <td>{% if debit %}{{ debit.account }}{% endif %}</td>
      <td>{% if debit %}{{ debit.balance }}{% endif %}</td>
      <td>{% if credit %}{{ credit.account }}{% endif %}</td>
      <td>{% if credit %}{{ credit.balance }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>