{% extends "base.html" %}

{% block main %}

<h2>仕訳登録・編集</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {{ form.errors }}

  <h3>借方</h3>
  {{ debit_formset.management_form }}
  {{ debit_formset.non_form_errors }}
  {% for debit_form in debit_formset %}
    {{ debit_form.as_p }}
    {% if debit_form.non_field_errors %}
    {% for error in debit_form.non_field_errors %}
      <div class="error">{{ error }}</div>
    {% endfor %}
    {% endif %}
    {{ debit_form.errors }}
  {% endfor %}

  <h3>貸方</h3>
  {{ credit_formset.management_form }}
  {% for credit_form in credit_formset %}
  {{ credit_form.as_p }}
  {{ credit_form.errors }}
  {% endfor %}

  <button type="submit">保存</button>
</form>

{% endblock %}