<!-- 残高試算表 -->
{% extends "base.html" %}

{% block main %}

<head>
  <meta charset="utf-8">
  <title>残高試算表</title>
  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
</head>

<h2>残高試算表</h2>
<label for="year">年：</label>
<input type="number" name="year" value="2025" hx-get="{% url 'trial_balance_by_year' %}" hx-trigger="load, change"
  hx-target="#trial-balance" hx-include="this" 
/>
<button hx-get="{% url 'export_trial_balance' %}" hx-include="input[name='year']" hx-target="body" hx-swap="none">
  エクスポート
</button>

<table id="trial-balance" class="table table-striped">
  <thead>
    <tr>
      <th>借方残高</th>
      <th>勘定科目</th>
      <th>貸方残高</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
{% endblock %}