<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <style>
    @page {
      size: A4;
      margin: 15mm;
    }

    body {
      font-family: "IPAexGothic";
      font-size: 10pt;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #000;
      padding: 4px;
    }

    th {
      background: #f0f0f0;
    }

    .right {
      text-align: right;
    }

    @page {
      @bottom-right {
        content: counter(page);
      }
    }
  </style>
</head>

<body>
  {% block content %}{% endblock %}
</body>

</html>