main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px; /* Adjust this value based on your header height */
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  width: 250px; /* Set the width of the sidebar */
  z-index: 1000; /* Ensure the sidebar is above other content */
}